body {
    background:url(../img/timg.jpg) #f8f6e9;
    height:auto
}

.wrapper{

}
.vetral{
    display: table-cell;
    vertical-align: middle;
}
a:visited,a:hover{text-decoration:none !important;}
.with-border {
    border-bottom: 1px solid #ddd;
    padding-left: 15px;
}