body {
    background:url(../img/timg.jpg) #f8f6e9;
}
/*web background*/
.container{
    display:table;
    height:100%;
}
/*dffdsa*/
.row{
    display: table-cell;
    vertical-align: middle;
}
/* centered columns styles */
.row-centered {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.col-centered {
    display:inline-block;
    float:none;
    text-align:left;
    margin-right:-4px;
}

